body {
   background-image: radial-gradient(circle, #096767, #01575e, #044752, #0a3845, #0d2936);
   color: white;
   letter-spacing: 1px;
   text-align: center;
   overflow: overlay;
   width: 98vw;
   min-width: 1000px;
   height: 800px;
   min-height: 800px;
   position: relative;
}
span {
   font-family: 'Roboto';
   font-weight: 100;
}

/*-------------------- HEADER --------------------------*/
header {
   width: 102%;
   height: 65px;
   background-color: rgb(15, 94, 100);
   z-index: 1;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.3);
}
header span {
   font-size: 45px;
   margin: 3px auto;
   display: inline-block;
   font-weight: bold;
   color: #0f3543;
}
header .fa-sign-out-alt {
   font-size: 60px;
   margin: 2px 30px;
   color: rgb(155, 184, 187);
   cursor: pointer;
   float: right;
}
header .fa-cogs, header .fa-chevron-left {
   font-size: 50px;
   margin: 7px 10px;
   color: rgb(155, 184, 187);
   cursor: pointer;
   float: left;
   z-index: 1;
}
#settings {
   height: 103%;
   width: 250px;
   margin-left: -300px;
   opacity: 0;
   background-color: rgba(5, 51, 55, 0.84);
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.5);
   position: absolute;
   z-index: 1;
}
#avatar {
   height: 100px;
   margin-top: 75px;
}
#avatar span {
   display: inline-block;
}
#avatar img {
   width: 50px;
   margin: 0 6px;
   padding: 5px;
   cursor: pointer;
   border-radius: 5px;
}
#avatar img:hover {
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.35);
   background-color: rgba(16, 121, 133, 0.1);
}


/*-------------------------- QUESTIONS PAD --------------------------------*/
section#container-pads {
   width: 101%;
   height: 90%;
}
.sub-container {
   width: 102%;
   height: 390px;
}
.sub-container > div {
   width: 350px;
   height: 350px;
   margin: 20px;
   border: 1px solid rgba(255,255,255,0.1);
   border-radius: 15px;
   background-color: rgba(6, 97, 99, 0.65);
   cursor: pointer;
   transition: background-color 0.75s ease-in;
   display: none;
}
.sub-container > div:hover {
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.5);
}
.sub-container > div > span {
   font-size: 25px;
   margin-top: 4px;
   display: inline-block;
   background: #074447;
   padding: 5px;
   border-radius: 5px;
}
.sub-container.top > div:first-of-type, .sub-container.bottom > div:first-child {
   float: left;
}
.sub-container.top > div:last-child, .sub-container.bottom > div:last-of-type {
   float: right;
}

#question {
   font-family: 'Roboto';
   font-size: 32px;
   font-weight: 100;
   margin-top: 10px;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 0;
   display: none;
}

/*-------------------------- AFFICHAGE JOUEURS --------------------------------*/
#players, #leaderboard {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 70px;
   width: auto;
   display: flex;
   /* border: solid; */
}
#players div {
   position: relative;
   display: grid;
   margin: 10px;
   /* transition: 1s ease-in; */
}
#players div:first-child span:first-of-type { /*Score*/
   color: #0cd50c;
}
#players span:first-of-type { /*Score*/
   position: absolute;
   top: -25%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}
#players div:first-child span:last-of-type { /*Pseudo*/
   color: #0cd50c;
}
#players img, #leaderboard img {
   width: 50px;
   height: 50px;
   margin: auto;
}

/*-------------------------- BARRE ET FINISH TIME --------------------------------*/
#progressbar {
   bottom: 0;
   position: fixed;
   margin-bottom: 22px;
   left: 50%;
   transform: translate(-50%, 0);
   width: 900px;
   height: 13px;
   transition: background-color 0.5s ease-in;
   border-radius: 15px;
   background-color: rgb(44, 156, 44);
   display: none;
}
#finishtime {
   bottom: 0;
   position: fixed;
   margin-bottom: 20px;
   font-size: 35px;
   font-weight: bold;
   color: rgb(127, 0, 0);
   left: 50%;
   transform: translate(-50%, 0);
   display: none;
}

/*-------------------------- BARRE ET FINISH TIME --------------------------------*/
#leaderboard {
   height: auto;
   border-collapse: collapse;
   display: none;
}
#leaderboard td:first-child {display: grid}
#leaderboard td, #leaderboard th {
   border: 1px solid rgba(255, 255, 255, 0.4);
   padding: 8px;
}
