@import "https://fonts.googleapis.com/css?family=Raleway:200";

/* -------------------------- BASIC STYLE ------------------------------------- */

body {
   background-image: radial-gradient(circle, #284d60, #25485a, #224354, #1f3e4e, #1c3948);
   color: white;
   letter-spacing: 1px;
   overflow: hidden;
   /* overflow-y: auto; */
   width: 100vw;
   min-width: 800px;
   height: 100vh;
   min-height: 500px;
}

h1, h2, h3, h4 {
   padding: 5px;
}

b {
   font-weight: bold;
}

/* -------------------------- HEADER STYLE ------------------------------------- */
header {
   width: 100%;
   height: 80px;
   background-color: rgba(11, 20, 35, 0.27);
   box-shadow: 3px 3px 3px rgba(17, 29, 47, 0.31);
   padding: 10px;
}

#profil {
   width: 10%;
   position: absolute;
   left: 0;
}
#profil .fa-cogs {
   font-size: 60px;
   margin: 2px 0 0 10px;
   color: rgba(120, 184, 210, 0.57);
   cursor: pointer;
}

#dropdown {
   display: none;
   margin: 5px 0 0 0px;
   background-color: #1b3342;
   width: 160px;
   padding: 10px;
   box-shadow: 3px 3px 3px rgba(17, 29, 47, 0.3);
}

#help {
   position: absolute;
   white-space: nowrap;
   display: none;
   font-weight: 100;
   font-size: 16px;
   background-color: rgba(8, 27, 33, 0.9);
   padding: 3px 5px;
   border-radius: 6px;
   z-index: 1;
}

.logout {
   /* width: 150px; */
   outline: none;
   border: none;

   padding: 15px 15px 15px 15px;
   border-radius: 6px;

   position: absolute;
   right: 15px;
   top: 15px;

   background-color: rgb(115, 28, 28);
   /* box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.4); */
   color: white;

   vertical-align: middle;
   text-align: center;
   text-decoration: none;

   font-family: 'Roboto';
   letter-spacing: 2px;
   font-size: 18px;
   cursor: pointer;
   transition: 0.25s ease-out;
}

.logout:hover {
   background: unset;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
   color: #aac4c4;
}

/* -------------------------- CONTAINER STYLE ------------------------------------- */
section[role=page] { width: 102%; height: 84%; position: relative; text-align: center; overflow-x: hidden; }
.container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   /* border: 1px solid white; */
   display: flex;
   min-height: 416px;
}

#play, #question, .fenetre {
   position: relative;
   display: flex;
   height: 30vw;
   width: 30vw;
   min-width: 200px;
   min-height: 200px;
   max-width: 500px;
   max-height: 500px;

   border-radius: 20px;
   font-size: 10px;
   background-color: rgba(0, 0, 0, 0.08);
   text-align: center;
   transition: all 0.5s;
}
.container img {
   /* position: absolute; */
   left: 0;
   max-width: 60%;
   max-height: 60%;
   margin: 20%;
}

#play:hover, #question:hover {
   cursor: pointer;
   transition: all 0.25s;
   box-shadow: 0px 0px 10px rgba(17, 29, 47, 1);
}

/*--------------- FENETRE (PLAY/QUESTIONS) --------------------*/
.fenetre {
   width: 65vw !important;
   height: 70vh !important;
   min-height: 300px !important;
   min-width: 880px !important;
   max-width: none !important;
}
.fenetre .fas.hoverable {
   position: absolute;
   font-size: 80px;
   left: -90px;
   color: rgb(20, 40, 51);
   cursor: pointer;
}
.fenetre .fa-chevron-right {
   right: -90px;
   left: auto !important;
}
.fenetre .container-title span {
   display: inline-block;
   font-size: 30px;
   font-weight: 100;
}
.fenetre .container-title {
   padding-top: 1%;
   padding-bottom: 1%;
   height: 12%;
   position: relative;
}
.fenetre > div {
   width: 50%;
   overflow: hidden;
}
.fenetre > div > section {
   overflow-y: overlay;
   height: 88%;
   width: 100%;
}

/*--------------- PLAY --------------------*/
#play { margin-right: 50px; }

/*--------------- QUESTIONS ----------------*/
#set #questions_list {
   overflow-y: overlay;
   height: 87%;
   /* margin-bottom: 30px; */
}
/* form#addquestion textarea {
margin-top: 0 !important;
} */
#add input, #add textarea, #rooms input {
   margin-left: 7%;
   margin-right: 7%;
   margin-top: 10px;
   width: 86%;
   resize: vertical;
}
#add textarea:first-child {
   margin-top: 8px;
}
#add input:last-of-type {
   margin-bottom: 12px;
}
#add button, #add select, #rooms button, #room_popup button, #room_popup select {
   width: 40%;
   outline: none;
   border: none;
   margin-bottom: 22px;
   padding: 10px 8px 10px 8px;
   border-radius: 5px;
   color: #334e54;
   background-color: #aac4c4;
   letter-spacing: 2px;
   font-size: 17px;
   cursor: pointer;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
   transition: 0.2s ease-in;
}
#add button, #rooms button {
   float: right;
   margin-right: 7%;
   width: 35%;
   margin-left: 4%;
   height: 42px;
}
#add button:hover, #rooms button:hover, #room_popup button:hover {
   background-color: unset !important;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
   color: #aac4c4;
}
#add select, #room_popup select {
   float: left;
   margin-left: 7%;
   margin-right: 5%;
   text-align: left;
   text-align-last: center;
   width: 35%;
}
#add select option {
   padding: 15px 0;
}
#add select option[value="0"] {
   display: none;
}
#add select[name="sets"], form#addquestion input#addset, #room_popup select {
   width: 60%;
   margin-bottom: 12px;
   background-color: rgb(41, 84, 104);
   color: white;
   margin-right: 0;
}

form#addquestion div {
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.4);
   border-radius: 30px;
   float: right;
   margin-right: 7%;
   display: flex;
}
#add .fa-plus, .fa-check, .fa-ban {
   font-size: 30px;
   cursor: pointer;
   padding: 7px 7px;
   margin: auto;
   color: rgb(170, 196, 196);
}
#add .fa-ban, #add .fa-check {
   padding: 7px;
}
#add input#addset {
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.3);
   background-color: unset !important;
   margin-top: 0;
   margin-bottom: 14px !important;
   width: 55% !important;
   float: left;
}

.fenetre > div:last-child {
   border-left: 1px solid rgba(255, 255, 255, 0.1);
}

/*---------------------------- QUESTIONS LIST / EDIT ---------------------------*/
.fa-sync-alt {
   position: absolute;
   right: 0;
   top: 0;
   margin: 16px;
   font-size: 25px;
   color: rgb(79, 130, 154);
   cursor: pointer;
   transition: 0.5s ease-in;
}
#questions_list div:first-child {margin-top: 10px;}
#questions_list div {
   /* width: 100%; */
   margin: 7px 5px;
   font-size: 18px;
   text-align: left;
   display: block;
   text-align: center;
   /* overflow-x: auto; */
}
#questions_list span {
   padding: 5px;
   /* margin-top: 5px; */
   /* margin: 5px auto; */
   border-radius: 5px;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.34);
   word-wrap: break-word;
   display: inline-block;
   width: 70%;
   /* min-width: 85%; */
   max-width: 70%;
   text-align: left;
}
#questions_list i {
   /* width: 5%; */
   transform: unset;
   margin: auto 5px;
   /* display: -webkit-inline-box; */
   color: rgb(186, 216, 255);
   cursor: pointer;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.77);
   border-radius: 12px;
   transition: all 0.35s;
}
#questions_list .fa-pencil-alt, #questions_list .fa-trash-alt {
   box-shadow: unset;
   margin-right: 3px;
}
#questions_list select {
   display: none;
}
#add .title#delete {
   font-family: 'Lato';
   font-size: 15px;
   font-weight: 900;
   margin-right: 3%;
   margin-left: 3%;
   letter-spacing: 2px;
   text-transform: uppercase;
   height: auto;
   border-bottom: 1px solid white;
   cursor: pointer;
}

/*----------------------DETAILS_QUESTION------------------------*/
div.indication span {
   background-color: rgba(78, 112, 117, 0.3) !important;
   padding: 8px !important;
}
section.alert #question_details {
   position: absolute;
   z-index: 99;
   left: 50%;
   margin-top: -18%;
   opacity: 0.5;
   transform: translate(-50%, -50%);
   background-color: rgba(15, 31, 39, 0.62);
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.79);
   border-radius: 5px;
}
#question_details #exitnotif {
   position: unset;
   float: right;
   display: none;
   font-size: 19px;
   margin: 5px;
}
#question_details span {
   padding: 5px;
   border-radius: 5px;
   background: unset;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.8);
   word-wrap: break-word;
   display: -webkit-inline-box;
   /* width: 100%; */
   margin: 15px 15px;
}
#question_details select {
   margin-left: auto;
   text-align-last: center;
   padding: 3px 2px;
   border-radius: 5px;
   color: #334e54;
   background: #aac4c4;
   letter-spacing: 2px;
   font-size: 17px;
   cursor: pointer;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
   transition: all 0.25s ease-in;
   margin: 0 15px 15px 15px;
}
#question_details option:checked {
   outline: none;
   background-color: rgb(18, 67, 23);;
   color: white;
}
#question_details option:not(:checked) {
   outline: none;
   background-color: rgb(67, 18, 23);;
   color: white;
}

/*---------------------------SECTION SETS-----------------------------*/
section.set > span {
   font-size: 20px;
   font-family: 'Lato';
   font-weight: 900;
   letter-spacing: 2px;
   margin-top: 8px !important;
   width: 90% !important;
   max-width: unset !important;
   position: relative;
   text-align: center !important;
   background-color: rgb(41, 84, 104);
}
section.set span i {
   position: absolute;
   right: 0;
   top: 0;
   font-size: 32px;
   box-shadow: unset !important;
}
section.set span .fa-trash-alt {
   position: unset;
   float: left;
   font-size: 24px;
}

/*--------------------------- ROOMS MANAGE -----------------------------*/
#rooms section button {
   margin-top: 10px;
   margin-left: 5%;
   float: none;
}
#rooms form > div {
   overflow: overlay;
   width: 100%;
   height: 76px;
}
#rooms section button:last-child {
   margin-left: 2% !important;
   background-color: rgb(189, 85, 85);
}
#rooms section button:not(:first-child) {
   float: left;
   width: 20%;
   margin-left: 7%;
   margin-right: 0;
   background-color: rgb(66, 147, 172);
}
#rooms section button:last-child {
   min-width: 105px;
}
input#range::-ms-track {
   width: 100%;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
}
input#range::-moz-range-thumb {
   height: 20px;
   width: 20px;
   background: #aac4c4;
   border-radius: 30px;
   cursor: pointer;
   margin-top: -7px;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.5);
}
input#range::-moz-range-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   transition: 0.2s ease-in;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
   background: rgb(45, 98, 102);
   border-radius: 30px;
   border: 0.2px solid #010101;
}
input#range {
   background: unset;
   box-shadow: unset;
   -webkit-appearance: none;
   background: transparent;
   float: left;
   display: inline-block;
   width: 67%;
   margin-right: 2%;
}
input#range::-webkit-slider-thumb  {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   background: #aac4c4;
   border-radius: 30px;
   cursor: pointer;
   margin-top: -7px;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.5);
}
input#range::-webkit-slider-runnable-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   transition: 0.2s ease-in;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
   background: rgb(45, 98, 102);
   border-radius: 30px;
   border: 0.2px solid #010101;
}
output#range {
   display: inline-block;
   float: right;
   margin-right: 7%;
   margin-top: 10px;
   background-color: rgba(0, 0, 0, 0.1);
   width: 17%;
   height: 30px;
   text-align: center;
   color: white;
   border-radius: 10px;
   font-size: 25px;
   letter-spacing: 2px;
}

#join section div {
   position: relative;
   margin: 5px 8px;
   display: inline-block;
   font-size: 20px;
   box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.5);
   border-radius: 12px;
}
.playercount {
   position: relative;
   cursor: pointer;
   float: left;
   padding: 5px;
   width: 65px;
   height: 62px;
   font-size: 23px;
   border-right: 1px solid rgba(170, 196, 196, 0.75);
   background-color: rgb(22, 94, 42);
   border-radius: 12px 0 0 12px;
   transition: 0.25s ease-in;
}
#join section div:hover .playercount, .playercount:hover {
   opacity: 0;
}
.playercount label {
   font-family: 'Lato';
   font-weight: 900;
   position: absolute;
}
.playercount label:first-child {
   top: 3px; left: 8px;
}
.playercount label:last-child {
   bottom: 3px; right: 5px;
}
.playercount:first-child:after {
   content:"";
   position:absolute;
   top: 50px;
   left: 13px;
   border-top: 1px solid rgba(170, 196, 196, 0.5);
   width: 50px;
   transform: rotate(317deg);
   transform-origin: 0% 0%;
}
#join section .fa-sign-in-alt {
   position: absolute;
   left: 11px;
   top: 9px;
   font-size: 45px;
   z-index: -1;
   color: rgb(55, 174, 79);
}
#join section div span:last-child {
   float: right;
   padding: 4px 10px;
}
#join section div span:last-child .fas {
   margin-left: 5px;
   font-size: 15px;
   color: rgb(170, 196, 196);
   cursor: pointer;
}

/*--------------------------- IFRAME LOBBY / ROOM POPUP-----------------------------*/
iframe[role='lobby'] {
   position: absolute;
   border: none;
   width: 100%;
   height: 100%;
   margin: auto;
   left: 0;
}
#room_popup {
   display: none;
   position: absolute;
   z-index: 1;
   left: 50%;
   top: 41%;
   transform: translate(-50%, -50%);
   width: 480px;
   height: 150px;
   padding: 10px;
   border-radius: 10px;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.8);
   font-size: 25px;
   font-weight: 100 !important;
   /* transition: 0.5s ease-in; */
}
#room_popup form:first-of-type {
   display: flex;
}
#room_popup output {
   margin: 10px 5px;
   font-size: 20px;
   width: auto;
   background-color: rgb(24, 42, 51);
   padding: 5px 5px 30px 5px;
}
#room_popup form:last-of-type output {
   margin: 6px 8px;
}
#room_popup input {
   width: 300px;
   margin: 10px 0;
}
#room_popup span:last-of-type {
   display: none;
   float: left;
   font-size: 22px;
   margin: 9px 30px;
}
#room_popup label {
   display: none;
   margin: 10px 20px;
   position: absolute;
   right: 0;
}
#room_popup button:hover {
   background-color: rgb(24, 42, 51) !important;
}
#room_popup form:last-of-type {
   position: absolute;
   bottom: 47px;
}
#room_popup div {
   position: absolute;
   bottom: 0; left: 0;
   width: 100%;
}
#room_popup select {
   float: none;
   padding: 7px 8px;
   width: auto;
   margin: 10px;
}

/*--------------------------- HELPER (clic droit) -----------------------------*/
#helper {
   display: none;
   position: absolute;
   z-index: 1;
   width: 353px;
   height: 100px;
   background-color: rgba(12, 23, 26, 0.9);
   box-shadow: 3px 3px 16px 1px rgba(0, 0, 0, 0.7);
}
#helper span {
   display: inline-block;
   width: 100%;
   cursor: alias;
   font-size: 25px;
   font-weight: 100;
   padding: 10px 9px;
}
#helper span:hover {
   background-color: rgb(20, 39, 45);
}
#helper div {
   width: 353px;
   position: absolute;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*--------------------------- IDLE COUNTDOWN -----------------------------*/
.notification {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 999;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.7);
   /* padding-top: 30vh; */
}
#container-timer {
   position: absolute;
   left: 50%;
   top: 41%;
   transform: translate(-50%, -50%);
   /* position: relative; */
   width: 480px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-radius: 10px;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.9);
   font-size: 25px;
   font-weight: 100 !important;
   /* z-index: -1; */
   animation: shake_anim 5s ease-in;
   animation-iteration-count: infinite;
}
#container-timer span {
   display: block;
}
#container-timer span:first-child {
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 5px;
   font-weight: 300 !important;
   letter-spacing: 2px;
}
#container-timer span:nth-child(2) {
   display: inline-block;
   font-size: 18px;
   /* font-style: italic; */
   font-weight: 100;
}
#timeleft {
   font-style: normal;
}
#exitnotif {
   position: absolute;
   top: 5%;
   left: 94.6%;
   color: #124961;
   font-size: 24px;
   cursor: pointer;
}

.hoverable:hover + #help {
   display: inline;
}
section.alert div {
   margin: 20px 0 0 0;
}

/*-------------------FOOTER---------------------------*/
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
}
footer .fas {
   position: absolute;
   bottom: 0;
   margin: 15px;
   font-size: 35px;
   color: rgb(79, 130, 154);
   cursor: pointer;
}


@keyframes shake_anim {
   2% {
      transform: translate(-51%, -50%);
   }

   4% {
      transform: translate(-48%, -50%);
   }

   6%, 10%, 14% {
      transform: translate(-51%, -50%);
   }

   8%, 12% {
      transform: translate(-48%, -50%);
   }
   16% {
      transform: translate(-50%, -50%);
   }
}
